<form (submit)="submit()">
    <modal (onHide)="hideModal($event)">
        <div modal-title>
            <h5>Editar Categoria - {{category.name}}</h5>
        </div>
        <div modal-body>
            <category-form [category]="category"></category-form>
        </div>
        <div modal-footer>
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
            <button type="submit" class="btn btn-primary">Editar</button>
        </div>
    </modal>
</form>
