<form class="form-signin" (submit)="submit()">
    <img class="mb-4" src="/docs/5.0/assets/brand/bootstrap-logo.svg" alt="" width="72" height="57">
    <h1 class="h3 mb-3 fw-normal">Code Shopping - login</h1>
    <label for="email" class="sr-only">E-mail</label>
    <input type="email" id="email" name="email" class="form-control" placeholder="Digite o e-mail" required autofocus [(ngModel)]="credentials.email">
    <label for="password" class="sr-only">Password</label>
    <input type="password" id="password" name="password" class="form-control" placeholder="Digite sua Senha" required [(ngModel)]="credentials.password">
    <div class="checkbox mb-3">
        <label>
      <input type="checkbox" value="remember-me"> Remember me
    </label>
    </div>
    <button class="w-100 btn btn-lg btn-primary" type="submit">Entrar</button>
    <p class="mt-5 mb-3 text-muted">© 2017-2020</p>
</form>